body{
    margin: 30px;

    ul.reports{
        li{
            float: left;
            margin-left: 30px;
            &:first-child{
                margin-left: 0px;
            }
        }
    }

    .empty-grid {
        float: left;
        clear: both;
        margin-top: 20px;
    }

    canvas {
        display: block;
    }

}
