$borderColor: #e3e3e6;
$failedColor: #ed5565;
$pendingColor: #f8ac59;
$runningColor: #1c84c6;
$passedColor: #1ab394;
$rowHeight: 63px;
$headerHeight: 47px;
$detailHeight: 109px;
$masterBorderHeight: 3px;
$summaryNormalBg: #f7f7f7;
$summaryFailedBg: #fafafa;